<div class="content">
    <!-- whenever someone clicks one of the button, the ListItem will be sorted equal to the button order -->
    <button ng-click="order = 'Name'">Order by City name</button>
    <button ng-click="order = 'Price'">Order by Price tag</button>
    <button ng-click="order = 'Food'">Order by Food name</button>

    <!-- temporary search will be stored inside ng-model, which then will be used in filter inside ng-repeat -->
    <input type="text" ng-model="search" placeholder="Search by City / Food name" />
    <ul>
        <!-- interating using ng-repeat to sort by order e.g Name, ascending -->
        <!-- orderBy got the order from button click above -->
        <li ng-repeat="city in cities | orderBy: order | filter: search" ng-show="city.display">
            <img ng-src="{{city.flag}}" ng-show="city.flag">
            <h3>{{city.name}}</h3>
            <!-- binding a function that can remove the entire item from the list  -->
            <div class="remove" ng-click="removeItem(city)">x</div>
            <span>{{city.food}} ({{city.price | currency}})</span>
        </li>
    </ul>

    <form ng-submit="addItem()">
        <input type="text" placeholder="City Name" ng-model="newItem.name" />
        <input type="text" placeholder="Famous Food" ng-model="newItem.food" />
        <input type="text" placeholder="Price Tag" ng-model="newItem.price" />
        <input type="submit" value="Add to List" />
    </form>
</div>
