<div class="content">
    <!-- whenever someone clicks one of the button, the ListItem will be sorted equal to the button order -->
    <button ng-click="order = 'name'">Order by City name</button>
    <button ng-click="order = 'price'">Order by Price tag</button>
    <button ng-click="order = 'food'">Order by Food name</button>

    <!-- temporary search will be stored inside ng-model, which then will be used in filter inside ng-repeat -->
    <input type="text" ng-model="search" placeholder="Search by City / Food name" />
    <ul class="city-list">
        <!-- interating using ng-repeat to sort by order e.g Name, ascending -->
        <!-- orderBy got the order from button click above -->
        <li ng-repeat="city in cities | orderBy: order | filter: search" ng-show="city.display">
            <img ng-src="{{city.flag}}" ng-show="city.flag">
            <h3>{{city.name}}</h3>
            <!-- binding a function that can remove the entire item from the list  -->
            <div class="remove" ng-click="removeItem(city)">x</div>
            <span>{{city.food}} ({{city.price | currency}})</span>
        </li>
    </ul>

    <form name="listItemForm" ng-submit="addItem()" novalidate>
        <input type="text" name="city" placeholder="City Name" ng-required="true" ng-model="newItem.name" />
        <div ng-show="listItemForm.city.$touched && listItemForm.city.$invalid">
            <p class="validate">Enter a valid City name</p>
        </div>
        <input type="text" name="food" placeholder="Famous Food" ng-required="true" ng-model="newItem.food" />
        <div ng-show="listItemForm.food.$touched && listItemForm.food.$invalid">
            <p class="validate">Enter a valid Food name</p>
        </div>
        <input type="text" name="price" placeholder="Price Tag" ng-required="true" ng-model="newItem.price" />
        <div ng-show="listItemForm.price.$touched && listItemForm.price.$invalid">
            <p class="validate">Enter a valid Price tag without currency sign</p>
        </div>
        <input type="submit" value="Add to List" ng-disabled="listItemForm.$invalid"/>
    </form>
</div>
