body, h1, h2, h3 {
    font-family: Helvetica;
    margin: 0 auto;
}

#menu-bar {
    background: crimson;
    color: #fff;
    padding: 10px;
}

#menu-bar h1 {
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
}

#menu-bar ul {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 6px 0;
}

#menu-bar li {
    float: right;
    margin-left: 20px;
}

#menu-bar a {
    color: #fff
}

main {
    background: #eee;
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
}

.content {
    padding: 20px;
}

.content button, .content input[type="submit"] {
    background: #fff;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    color: #777;
    border: 0;
    box-shadow: 4px 4px 4px rgba(20, 20, 20, 0.1);
    font-size: 16px;
}

.content ul {
    padding: 0;
    list-style-type: none;
    margin: 35px 0;
}

.content li {
    padding: 20px 0;
    border-top: 1px solid #e2e2e2;
    color: #444;
}

.content li span {
    float: right;
    margin: -3px 0 0 0;
}

.content li h3 {
    display: inline-block;
    font-weight: normal;
    font-size: 22px;
    margin: -10px 0 0 0;
    text-align: center;
}

.content input {
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px 2.5%;
    width: 95%;
}

.content input[type="submit"]:last-child {
    width: 150px;
    display: block;
    margin: 15px auto;
}

.content img {
    display: inline-block;
    float: left;
    margin: -10px 10px 0 0;
    width: 40px;
}

.remove {
    border-radius: 20px;
    color: crimson;
    cursor: pointer;
    float: right;
    font-size: 20px;
    margin: -5px 0 0 5px;
}

.random-directive {
    text-align: center;
}

.random-directive > div img {
    float: none;
}

/* The starting CSS styles for the enter animation */
main.ng-enter {
  transition: 1s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
main.ng-enter.ng-enter-active {
  opacity: 1;
}

.city-list li.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
    transform: translateY(100px);
    z-index: 5;
}

.city-list li.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}

.city-list li.ng-leave {
    animation: fadeIn 1s;
}

.city-list li.ng-leave-active {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
        transform: scale(100%);
    }
    20% {
        opacity: 0.8;
        transform: scale(80%);
    }
    40% {
        opacity: 0.6;
        transform: scale(60%);
    }
    60% {
        opacity: 0.4;
        transform: scale(40%);
    }
    80% {
        opacity: 0.2;
        transform: scale(20%);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
